@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-lato), sans-serif;
  
  --color-cream: #FDFBF7;
  --color-terracotta: #A75D43;
  --color-terracotta-dark: #8A4A32;
  --color-sage: #8A9A85;
  --color-charcoal: #2C2A28;
  --color-sand: #E8E6E1;
}

body {
  background-color: var(--color-cream);
  color: var(--color-charcoal);
}

/* --- LA SOLUTION EST ICI --- */
/* On crée une classe manuelle qui force l'utilisation de la variable */
.signature-force {
  font-family: var(--font-custom) !important; /* Le !important force l'application */
}