@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-lato), sans-serif;
  
  --color-cream: #F9F7F2;      /* Fond très légèrement plus chaud (Ivoire) */
  --color-terracotta: #8D4E39; /* Argile Rouge plus profonde */
  --color-terracotta-dark: #6B3A29;
  --color-ochre: #D4AF37;      /* Touche Or/Moutarde pour le côté précieux */
  --color-charcoal: #2A2624;   /* Noir ébène doux */
  --color-sand: #EBE5D9;       /* Sable */
}

body {
  background-color: var(--color-cream);
  color: var(--color-charcoal);
}

/* Ta classe pour la signature */
.signature-force {
  font-family: var(--font-custom) !important;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}